img {
  width: 100%;
  height: 100%;
}

html, body
{
    font-family: 'Montserrat';
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

a {
  box-shadow: 9px 9px 15px -5px rgba(46,74,117,0.53);
}

h1 {
  font-family: 'Montserrat';
  color: white;
}

label {
  color: white;
}

.main {
  text-align: left;
  opacity: 90%;
  width: 100%;
  height: 100%;
}

.btn-info{
  margin-right: 20px;
}

.form-group {
  margin-top: 24px;
}

.navbar {
  height: 80px;
  font-family: 'Montserrat';
  padding-left: 24px;
  padding-right: 24px;
}

.home-above {
  z-index: 2;
  position: absolute;
  top: 350px;
  left: 100px;
}

.card {
  background: none;
}
.notauthenticated1{
  box-shadow: 9px 9px 15px -5px rgba(46,74,117,0.53);
}
